@model _23DH114665_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">XÓA SẢN PHẨM</h2>

<h4 class="alert-danger">Bạn có thực sự muốn xóa sản phẩm này?</h4>

@Html.Partial("PVProductInfo",Model)
    
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        @Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>